{% load static %}
<div id="header">
    <div id="logo">
        <a href="{% url 'access:home' %}"><img src="{% static 'images/logo.png' %}" alt="LOGO"></a>
    </div>
{% if request.user.is_authenticated %}
    <p class="searchbar">
        <input id="session-name-input" type="hidden" value="{{ obj.website.username }}"/><br/>
        <a href="{% url 'session:session' %}"><input id="session-name-submit" type="button" value="Session"/></a>
    </p>
{% endif %}
    <ul id="navigation">
        <li>
            <a href="{% url 'access:home' %}">Home</a>
        </li>
        {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'session:profile' request.user.id %}">Profile</a>
            </li>
            <li>
                <a href="{% url 'access:application' %}">Work on TTM</a>
            </li>
            <li>
                <a href="{% url 'access:logout' %}"> Logout </a>
            </li>
            <li></li>
        {% else %}
            <li>
                <a href="{% url 'access:login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'access:registration' %}">Registration</a>
            </li>
        {% endif %}

    </ul>
</div>





