{% extends "website/base.html" %}
{% block titel %} Sign Up 2{% endblock %}

{% block content %}
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}.</p>
            <p>It's second step of registration</p>
         <div>
         OR
            You can continue the registration next time.
            <button class="primaryAction" type="submit"><a  href="{% url 'access:logout' %}" >
            Logout </a></button>
        </div>
    {% endif %}
    <div class="in-form">
        <form class="access-form" method="POST" action="{% url 'access:registration2' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primaryAction" type="submit">Next Step</button>
        </form>
    </div>
{% endblock %}