{% extends "website/base.html" %}
{% block titel %} Sign Up {% endblock %}

{% block content %}
    <div class="in-form">
        <form class="access-form" method="POST" action="{% url 'access:registration' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primaryAction" type="submit">Sign Up</button>
        </form>
        <div class="ui horizontal divider">
            Or
        </div>

    <div class="">
    <h1>OAuth</h1>
    {% if user.is_authenticated %}
      <p>Logged as {{ user.username }}</p>
      <a class="btn btn-primary" href="{% url 'access:logout' %}">Logout</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'access:social:begin' 'google-oauth2' %}">
        Login
      </a>
    {% endif %}
  </div>
    </div>


{% endblock %}